.hero {
  padding-top: 88px;
  padding-bottom: 100px;

  @media (max-width: $md2+px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  @media (max-width: $md4+px) {
    padding-bottom: 0;
  }
  &__row {
    display: flex;
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 0 0 50%;
    @media (max-width: $md3+px) {
      margin-bottom: 40px;
      text-align: center;
    }

    @media (max-width: $md4+px) {
      margin-top: 20px;
      margin-bottom: 0px;
    }
    
  }

  &__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;

    @media (max-width: $md2+px) {
      font-size: 34px;
      line-height: 54px;
    }

    @media (max-width: $md3+px) {
      font-size: 28px;
      line-height: 48px;
    }
  }

  &__text {
    margin: 20px 0 50px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;

    @media (max-width: $md2+px) {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 30px
    }
  }

  &__button {
    display: inline-block;
    height: 60px;
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    text-decoration: none;
    background: #F53838;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0px 77px;
    transition: all .3s ease;
    &:hover {
      border: 1px solid #F53838;
      box-shadow: 0px 35px 20px -19px rgba(245, 56, 56, 0.35);
      background: transparent;
      color: #F53838;
    }

    @media (max-width: $md3+px) {
      height: 50px;
      line-height: 50px;
      font-size: 14px;
    }
  }

  &__image {
    height: 100%;
    background: center / contain url("../img/hero.svg") no-repeat;
    
    @media (max-width: $md3+px) {
      height: 300px
    }
  }
}