/* Слайдер */
.slick-slider{
  position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{
  outline: none;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
  position: absolute;
  bottom: -100px;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (max-width: 855px) {
    bottom: -80px;
  }
}

/* Стрелка влево */
.slick-arrow.slick-prev{
  background-color: white;
  border: 1px solid #F53838;
  right: 200px;

  @media (max-width: 855px) {
    right: 80px;
  }

  @media (max-width: $md4+px) {
    bottom: -90px;
    left: 25%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    background: url("../img/arrow-prev.svg") 0 0 / 100% no-repeat;
  }
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  background-color: #F53838;
  border: 1px solid #F53838;
  right: 120px;

  @media (max-width: 855px) {
    right: 0;
  }

  @media (max-width: $md4+px) {
    bottom: -90px;
    right: 25%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    background: url("../img/arrow-next.svg") 0 0 / 100% no-repeat;
  }
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -87px;
  @media (max-width: 855px) {
    bottom: -60px;
  }

  @media (max-width: $md4+px) {
    bottom: -20px;
    left: 50%;
    transform: translateX(-47%);
  }
}
.slick-dots li{
  margin-right: 15px;
}
/* Активная точка */
.slick-dots li.slick-active button{
  width: 45px;
  background-color: #F53838;
  transition: all .3s ease-in-out;
}
/* Элемент точки */
.slick-dots li button{
  outline: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  background: #DDE0E4;
  border-radius: 50px;
  border: none;
}
