.stats {

  &__row {
    display: flex;
    align-items: center;
    padding: 67px 0;
    border-radius: 10px;
    box-shadow: 0px 25px 50px 0px rgba(56, 52, 52, 0.205);
    @media (max-width: $md3+px) {
      padding: 30px 0;
    }

    @media (max-width: $md4+px) {
      flex-wrap: wrap;
      padding: 10px 0;
    }
  }

  &__column {
    display: flex;
    flex: 0 0 33.33333%;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #EEEFF2;

    &:last-child {
      border: none;
    }

    @media (max-width: $md4+px) {
      flex: 1 0 100%;
      border: none;
      margin-bottom: 15px;
    }
  }

  &__body {
    display: flex;

    @media (max-width: $md4+px) {
      width: 100%;
      max-width: 180px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background: #FFECEC;
    border-radius: 70px;
    margin-right: 37px;

    @media (max-width: $md3+px) {
      width: 45px;
      height: 45px;
      margin-right: 20px;
    }

    @media (max-width: $md4+px) {
      width: 55px;
      height: 55px;
      margin-right: 37px;
    }
  }

  &__info {
    display: inline-block;
  }

  &__counter {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;

    @media (max-width: $md3+px) {
      font-size: 17px;
      line-height: 23px;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;

    @media (max-width: $md3+px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
